.material-icons {
    font-family: 'Material Icons';
    font-size: 24px;
}
body {
    overflow-y:scroll;
    margin:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:#fff;
    background: #4A4A4B;
}
h1, h2, h3, .caption {
    font-weight: 700;
}
h1 {
    font-size:5.5rem;
    margin:.5rem 0;
}
h2 {
    font-size: 4rem;
    margin:1rem 0;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-weight: 500;
}
main {
    overflow:clip;
}
p {
    margin: 1rem 0;
    line-height: 1.5rem;
}
.db {
    display: block!important;
}
.section-nav {
    display: inline-flex;
    width: 100%;
    position: fixed;
    bottom:0;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    z-index: 999;
    & a {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    & a:before {
        content: '';
        width: 1px;
        height: 33%;
        position: absolute;
        background-color: #fff;
        margin: 4px 0;
        transition: all .5s ease-in-out;
    }
    & a:hover:before {
        height: 45%;
    }
    & a:first-child:before  {
        display: none;
    }
}
.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    & a {
        color: #4A4A4B;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &.overlay {
        display: flex;
        border-radius: 0;
        animation:showMenu 1s ease-in-out;
    }
    & li {
        list-style: none;
        font-size: 5.5rem;
    }
    & button {
        position: absolute;
        top:0%;
        left: 0;
    }
    & .menu-content {
        margin: 0;
        padding: 0;
    }
}
.menubg {
    &.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1440px;
    background-color: rgba($color: #fff, $alpha: 1);
    animation:growBg 1s ease-in-out;
    transform-origin: top left;
    border-radius: 50%;
    transform: scale(3) translate(-50%, -50%,);
    }
}
@keyframes growBg {
    0% {
        -webkit-transform: scale(0) translate(-50%, -50%,);
        -moz-transform: scale(0) translate(-50%, -50%,);
        -o-transform: scale(0) translate(-50%, -50%,);
        -ms-transform: scale(0) translate(-50%, -50%,);
        transform: scale(0) translate(-50%, -50%,);
    }
    100% {
        -webkit-transform: scale(3) translate(-50%, -50%,);
        -moz-transform: scale(3) translate(-50%, -50%,);
        -o-transform: scale(3) translate(-50%, -50%,);
        -ms-transform: scale(3) translate(-50%, -50%,);
        transform: scale(3) translate(-50%,-50%);
    }
}
@keyframes showMenu {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg_anim {
    &.home {
        position: absolute;
        margin-left: -1rem;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &.work {
        position: absolute;
        bottom: 0;
        left: -100px;
        width: 600px;
        height: 656px;
        background: url('https://a.storyblok.com/f/162811/x/b6a7c51403/table_sprite_2.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    &.interests {
        width: 100%;
        height: 100%;
        background: #4A4A4B url("https://a.storyblok.com/f/162811/x/7d36a44cdf/interest_bg.svg") center/cover no-repeat;
        position: relative;
        & .foreground {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            background: url("https://a.storyblok.com/f/162811/x/ce2cfe2138/interest_fg.svg") center/cover no-repeat;
        }
        & .bigfoot {
            position: absolute;
            bottom: 0;
            width: 128px;
            height: 160px;
            z-index: 99;
            background: url("https://a.storyblok.com/f/162811/x/fd0648f2d0/bigfoot_sprite_2.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 50%;
        }
        & .ufo {
            position: absolute;
        }
    }
    
}
.hanging-light {
    position: absolute;
    width: 100vw;
    height: 100%;
    left: -33%;
    top: -18%;
    display: flex;
}
.bookshelf {
    position: absolute;
    width: 560px;
    height: 600px;
    left: 15%;
    bottom: 0;
    display: flex;
    background: url("https://a.storyblok.com/f/162811/x/0a0cc35698/bookshelf-sprite.svg") no-repeat;
    background-size: cover;
    background-position: 0 50%;
}
#work {overflow: hidden;}
  .section-layout > div {  
    position: relative;
    height: 0vh;
    // all 800px elements + all 100vw elements + margins-right on all but the last element
    width: calc( (1440px * 8) + ((100vw - 20px) * 3) + (10px * 10) );
  }
  .to-right {
    display: inline-block;
    float: left;
    height: 100vh;
    // will become 800px in width because of the padding
    // width: calc(1440px - 20px);
    width: 100vw;
    background-color: #4A4A4B;
  }
  .full {
    // the second extra '-20px' on here is just related to the fake-pinning and having space to the right side, when it happens
    width: calc(100vw - 20px - 20px);
  }
.board {
    width:100px;
    height: 100px;
    border:solid #fff 2px;
    position: relative;
}
.character {
    background-color: #fff;
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
}
.menu-btn {
    position: fixed;
    z-index: 999;
}

.final {
    display: block;
    height: 100vh;
    & .contact {
        width: 100%;
        height: 100%;
        // background: url("https://a.storyblok.com/f/162811/x/91bf1547b5/oujia_bg.svg");
        // background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        & .planchette {
            position: absolute;
            max-width: 20%;
            bottom:0;
            pointer-events: none;
           
        }
        & .ouija {
            border: solid 1px;
            height: 50%;
            width: 100%;
            &.hide-cursor {
                cursor: none;
            }
        }
        
    }
}