.material-icons {
    font-family: 'Material Icons';
    font-size: 24px;
}
body {
    overflow-y:scroll;
    margin:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:#fff;
    background: #4A4A4B;
}
h1, h2, h3, .caption {
    font-weight: 700;
}
h1 {
    font-size:5.5rem;
    margin:.5rem 0;
}
h2 {
    font-size: 4rem;
    margin:1rem 0;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-weight: 500;
}
main {
    overflow:clip;
}
p {
    margin: 1rem 0;
    line-height: 1.5rem;
}
.section-layout > div:only-child {
    display: flex;
    flex-direction: row;
}
.db {
    display: block!important;
}
.section-nav {
    display: inline-flex;
    width: 100%;
    position: fixed;
    bottom:0;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0 ;
    z-index: 999;
    & a {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    & a:before {
        content: '';
        width: 1px;
        height: 33%;
        position: absolute;
        background-color: #fff;
        margin: 4px 0;
        transition: all .5s ease-in-out;
    }
    & a:hover:before {
        height: 45%;
    }
    & a:first-child:before  {
        display: none;
    }
}
.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    top: 0;
    left: 0;
    // background: #fff;
    color: #4A4A4B;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &.overlay {
        display: flex;
        border-radius: 0;
        animation:grow 2s ease-in-out;
        &:before {
            content: '';
            position: absolute;
            background-color: #fff;
            top:0;
            left:0;
            width: 1440px;
            height: 1440px;
            transform: scale(3) translate(0,0);
            border-radius: 50%;
            z-index: -1;
            animation:growBg 2s ease-in-out;
        }
    }
    & li {
        list-style: none;
        font-size: 5.5rem;
    }
    
}
@-webkit-keyframes growBg {
    0% {
        // -webkit-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // -moz-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // -o-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // -ms-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // transform: scale(1) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%,);
    }
    100% {
        transform: scale(3) translate(0,0);
    }
}
@-webkit-keyframes grow {
    0% {
        // -webkit-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // -moz-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // -o-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // -ms-transform: translate(calc(100vw - 50px), calc(100vh - 50px));
        // transform: scale(1) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%,);
    }
    100% {
        transform: scale(1) translate(0,0);
    }
}