button {
    background-color: #CD463F;
    color: #FFF;
    font-size: 20px;
    padding: .5rem 1rem;
    border-radius: 0px;
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    line-height: 1.5rem;
}