.section {
    border:solid 1px #1b1b1b;
    height:100vh;
    // width: 100vw;
    position: relative;
    &-content-position {
        position: absolute;
        width: 100%;
    }
    &-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
    }
}
.intro_content {
    max-width: 400px;
}
.work_content, .experience_content, .interests_content, .get_in_touch_content {
    max-width: 480px;
}
